rules_version = '2';

// Returns true if the uploaded file is an image and its size is below the given number of MB.
function isImageBelowMaxSize(maxSizeMB) {
  return request.resource.size <= maxSizeMB * 1024 * 1024
      && request.resource.contentType.matches("image/.*");
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{postId}/{picName} {
      allow read;
      // 5 MB 以下かつ画像のとき、書き込み許可
      allow write: if isImageBelowMaxSize(5);
      allow delete: if request.auth != null;
    }
  }
}
